# 2018년 3월 28일 점프투 파이썬 2장
## 경영데이터베이스수업
- 숫자형
    1. 기능1
    2. 기능2
- 문자열
- 리스트

In [ ]:
print("3번째 수업")

In [3]:
1234

1234

## 1절 숫자형

In [6]:
123

123

In [7]:
456

456

In [8]:
2*4

8

In [9]:
9//4

2

In [10]:
9%5

4

In [12]:
-9//4

-3

In [13]:
-3/4

-0.75

In [14]:
1-0.9

0.09999999999999998

### Lab1.
#### 수익계산
- 변수 revenue를 생성 후 98456 할당
- cost를 생성 후 45000 할당
- profit을 생성후 revenue와 cost의 차이값으로 설정
- profit을 출력

In [29]:
revenue=98456
cost=45000
profit=revenue-cost
print(profit)

53456

## 2절 문자열

In [15]:
boy="I am a Kevin"
boy

'I am a Kevin'

In [22]:
girl='I am a Suzy'
girl

'I am a Suzy'

In [17]:
"I'm a Kevin"

"I'm a Kevin"

In [24]:
"""
I am a Kevin
I am a Suzy"
"""

'\nI am a Kevin\nI am a Suzy"\n'

In [23]:
boy+" "+girl

'I am a Kevin I am a Suzy'

In [26]:
(boy+" ")*3

'I am a Kevin I am a Kevin I am a Kevin '

In [32]:
# 문자열 인덱싱
a="Life is too short, You need Python"
a[0]+a[10]+a[30]

'Lot'

In [35]:
# 문자열 슬라이싱
a[12:17]

'short'

In [36]:
a[:]

'Life is too short, You need Python'

In [37]:
a[3:]

'e is too short, You need Python'

In [38]:
a[:27]

'Life is too short, You need'

In [41]:
a="20180328Sunny"
year=a[:4]
month=a[4:6]
day=a[6:8]
weather=a[8:]
print(year,month,day,weather)

2018 03 28 Sunny

In [43]:
print(year,'년',month,"월",day,'일',weather,"입니다")

2018 년 03 월 28 일 Sunny 입니다

In [57]:
"{year}년 {month}월 {day}일 {weather}입니다" .format(year=year,month=month,day=day,weather=weather)

'2018년 03월 28일 Sunny입니다'

### 문자열 내장함수

In [63]:
#문자개수세기
a="hobby"
a.count("b")

2

In [64]:
#위치 알려주기
a="hobby"
a.find("o")

1

In [65]:
a="Lee Jae Dong"
a.index("J")

4

In [66]:
#문자열 삽입하기
a=","
a.join('abcd')

'a,b,c,d'

In [67]:
a='.'
a.join("갑을병정")

'갑.을.병.정'

In [68]:
#대문자로
a="Lee Jae Dong"
a.upper()

'LEE JAE DONG'

In [70]:
#공백지우기
a="    Lee Jae Dong     "
a.lstrip()

'Lee Jae Dong     '

In [71]:
a.rstrip()

'    Lee Jae Dong'

In [72]:
a.strip()

'Lee Jae Dong'

In [73]:
a.split()

['Lee', 'Jae', 'Dong']

### Lab2.
#### 문자열 다루기

In [2]:
a="I love Python!"
b="You hate Python!"

In [4]:
a.find("o")

3

In [5]:
b.index("o")

1

In [6]:
a.upper()

'I LOVE PYTHON!'

In [7]:
b.lower()

'you hate python!'

In [8]:
a_6=a[0:7]
a_6

'I love '

In [10]:
a_6.split()

['I', 'love']

### Lab3.

In [52]:
pi=3.241592
sq_root=1.41429

In [60]:
"pi is {pi} and square root of 2 is {sq_root}" .format(pi=pi, sq_root=sq_root)

'pi is 3.241592 and square root of 2 is 1.41429'

## 3절 리스트