# 점프투파이썬 2장 이어서
## 3절 리스트

### 리스트만들기

In [1]:
#빈리스트
a=[]
a

[]

In [3]:
b=[1,2,3]
b

[1, 2, 3]

In [5]:
c=['Kevin','Ronaldo','Messi','David']
c

['Kevin', 'Ronaldo', 'Messi', 'David']

In [7]:
d=[1,2,'Kevin','Messi']
d

[1, 2, 'Kevin', 'Messi']

In [8]:
e=[1,2,['Kevin','Messi']]
e

[1, 2, ['Kevin', 'Messi']]

### 리스트의 인덱싱

In [9]:
a=[1,2,3]
a

[1, 2, 3]

In [10]:
a[1]

2

In [11]:
a[-1]

3

In [12]:
a[-3]

1

In [13]:
e

[1, 2, ['Kevin', 'Messi']]

In [14]:
e[2][0]

'Kevin'

### 리스트의 슬라이싱

In [15]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [18]:
b=a[0:2]
b

[1, 2]

In [20]:
c=a[:2]
c

[1, 2]

### 리스트의 연산자

In [21]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [22]:
print(a+b)

[1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [35]:
#하나의 값 수정하기
a=[1,2,3]

In [36]:
a[2]=4
a

[1, 2, 4]

In [37]:
#연속된 범위의 값 수정
a[2:3]=['Kevin','David']
a

[1, 2, 'Kevin', 'David']

In [39]:
a=[1,2,3]
a[2]=['Kevin','David']
a

[1, 2, ['Kevin', 'David']]

In [40]:
#인덱싱과 슬라이싱의 차이를 고려하자

In [43]:
#리스트 요소 삭제
a=[1,2,3,4,5]
del a[2]
a

[1, 2, 4, 5]

In [45]:
a=[1,2,3,4,5,6,7]
del a[1:3]
a

[1, 4, 5, 6, 7]

### 리스트함수

In [46]:
#리스트 요소 추가
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [47]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [49]:
#리스트 정렬
a=[5,2,7,5,7,2,3,4,9,1]
a.sort()
a

[1, 2, 2, 3, 4, 5, 5, 7, 7, 9]

In [51]:
#리스트 뒤집기
a=[1,4,2,3,5]
a.reverse()
a

[5, 3, 2, 4, 1]

In [52]:
#위치 반환
a=[1,2,3]
a.index(3)

2

In [57]:
#리스트의 요소합
a=[1,2,3]
a.insert(1,4)
a

[1, 4, 2, 3]

In [58]:
a.insert(3,5)
a

[1, 4, 2, 5, 3]

In [59]:
#리스트 요소 제거
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [61]:
#리스트의 요소 꺼내기 
a=[1,2,3]
a.pop()

3

In [62]:
a

[1, 2]

In [63]:
#요소 개수 세기
a=[3,6,2,3,4,2,1,4,5,7,2,4,3,5,3,5]
a.count(3)

4

In [64]:
#리스트 확장
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [ ]:
#append extend 차이를 고려하자

## 튜플

In [66]:
t1=()
t2=(1, )
t3=(1,2,3)
t4=('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

## 딕셔너리

In [67]:
dic={'name':'kevin','phone':'10293049'}
dic

{'name': 'kevin', 'phone': '10293049'}

In [69]:
dic['name']

'kevin'

In [70]:
dic={'name':'kevin','name':'david'}
dic['name']

'david'

In [71]:
#키의 목록 확인 
dic.keys()

dict_keys(['name'])

In [72]:
dic={'name':'kevin','phone':'10293049'}
dic.values()

dict_values(['kevin', '10293049'])

### 불자료형 - 참&거짓

In [73]:
3>1

True

In [74]:
2>5

False

In [76]:
if []:
    print("참")
else:
    print("거짓")

거짓

# 3장 제어문
## 1. if문

In [78]:
money=0 #돈이 있다
if money:
    print('택시타셈')
else:
    print('걸어가셈')

걸어가셈

In [79]:
money=2000
if money>=3000:
    print("택시")
else:
    print("걸어")

걸어

In [80]:
money=2000
card=1
if money>=3000 or card:
    print("택시")
else:
    print('걸어')

택시

In [82]:
pocket=['paper','phone','card']
if 'money' in pocket:
    print('택시')
else: 
    if card:
        print('택시')
    else:
        print('걸어가')

택시

In [85]:
pocket=['paper','phone','card']
if 'money' in pocket:
    print('택시')
elif 'card' in pocket:
    print('택시')
else:
    print('걸어가')

택시